

<div class="row">
    <%= render '/layouts/partials/sidebar' %>
    
    <!-- main -->
    <div class="column col-sm-9" id="main">
        <div class="padding">
            <div class="full col-sm-9" id="content">
            </div><!-- /col-9 -->
        </div><!-- /padding -->
    </div>
    <!-- /main -->

</div>

